<h2 mat-dialog-title>Mudan&ccedil;a de senha</h2>

<mat-dialog-content [formGroup]="form">
  <div class="pwdInput">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Informe nova senha</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Informe nova senha"
        required
      />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>
          {{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="!form.controls['password'].valid">
        Sua senha deve conter entre 12 e 25 caracteres.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="pwdInput">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Confirme nova senha</mat-label>
      <input
        formControlName="reEnterPassword"
        matInput
        [type]="hideReenter ? 'password' : 'text'"
        placeholder="Confirme nova senha"
        required
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideReenter = !hideReenter"
      >
        <mat-icon>
          {{ hideReenter ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="!form.controls['reEnterPassword'].valid">
        Sua senha deve conter entre 12 e 25 caracteres.
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions margin-left="50px" class="full-width">
  <button mat-flat-button mat-primary color="primary" (click)="save()">
    Mudar senha
  </button>
  <button mat-flat-button color="accent" (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
